.user-login{
	display:flex;
	justify-content:end;
	gap: 20px;
	margin-right: 50px;
	margin-top: 30px;
	font-size: 25px;
}
.user:hover{
	color: red;
		cursor: pointer;
}
#favorite:hover {
	color: red;
	cursor: pointer;
}
.shopping-bag:hover{
	color: red;
		cursor: pointer;
}
.login-btn:hover{
	background: pink;
}

.logo{
	text-align: center;
}

.menu-line{
	display: flex;
	justify-content: center;
	gap: 10px;
}
.menus {
	display: flex;
	gap: 10px;
	list-style-type: none;
	padding-left: 0;
	font-size: 25px;
	padding: 5px 20px;
	background: rgb(157, 178, 255, 0.5);
	margin-top: 5px;
}
.item{
	padding:0 5px;
}
.item:hover{
	background: pink;
}
.search{
	margin-left: 20px;
	font-size: 25px;
}
#input{
	margin-left: 10px;
	padding-left: 10px;
	border: none;
	border-bottom: 1px solid black;
	width: 150px;
}

.card, .card2{
	padding-bottom: 10px;
		margin-bottom: 10px;
		transition: all 0.6s;

}
.card:hover {
	transform: scale(1.05);
	z-index: 2;
}
.card-img{
	z-index: 1;
}

.favorite2 {
	position: absolute;
	right: 15px;
	bottom: 150px;
	font-size: 25px;
	z-index:3;
	transition: all 0.6s;
}
.favorite2:hover{
	font-size: 30px;
	cursor:pointer;
}
.trash:hover{
	color: red;
	cursor:pointer;
}
.favorite2.clicked {
	transform: scale(1.2) rotate(360deg);
	/* 클릭한 경우의 애니메이션 */
}

/* .card-text{
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	z-index: 2;
	padding: 10px 0;
	background: white;
} */


.top{
	display:flex;
	justify-content:center;
}
.login-container{
	margin-top: 20px;
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}



.space{
	height: 100px;
}
.add:hover{
	font-weight:bold;
}


.detail-item{
	margin-top: 20px;
	display:flex;
	justify-content:center;
}
.detail-info {
	border: 2px solid rgb(173, 172, 172);
	border-radius: 3px;
	padding: 20px;
}


.active{
	color: red;
}


.user-info, .favorite-info, .cart-info{
	display:flex;
	justify-content:center;
}
.user-card, .favorite-card, .cart-card{
	border: 1px solid black;
	padding: 10px;
	width: 800px;
}
.user-info-button, .favorite-info-button, .cart-info-button{
	text-align: center;
}

.trash{
	text-align: end;
}


.menu-line{
	position:relative;
}
.toggleBtn{
	position:absolute;
	top: 120px;
	left: 30px;
	font-size:30px;
	display:none;
}

@media screen and (max-width: 768px) {
	.menu-line {
			position: fixed;
				top: 0px;
				left: 0;
				width: 100%;
				z-index: 1000;
				/* 다른 요소 위에 나타나도록 설정 */
		}
	.menus {
		position: absolute;
		top:150px;
		left: 30px;
		display: flex;
		flex-direction: column;
		display:none;
		/* 세로 방향으로 정렬 */
	}

	.item {
		margin-bottom: 3px;
		/* 각 아이템 사이에 여백 추가 */
	}
	.search{
		position: absolute;
		top: 160px;
		left: 220px;
		display:none;
	}
	.toggleBtn{
		display:block;
	}
	.menus.active2,
	.search.active2 {
		display: block;
	}
}